body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e3f2fd;
    color: #fff;
    font-family: 'Bebas Neue';
}

.container {
    width: 780px;
    border-radius: 20px;
    padding: 35px 40px;
    background-color: black;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header h2{
    font-size: 1.6rem;
}

header .column {
    display: flex;
    align-items: center;
}

header .column span{
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.19rem;
}

.volume-slider input{
    -webkit-appearance: none;
    border-radius: 5px;
    cursor: pointer; 
    background-color: #cc0000;

}



.keys-check input{
    width: 60px;
    height: 30px;
    appearance: none;
    border-radius: 30px;
    background-color: #ff0000;
    cursor: pointer;
    position: relative;
}

.keys-check input::before {
    left: 0.3rem;
    top: 50%;
    content: "";
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    position: absolute;
    border-radius: inherit;
    transform: translateY(-50%);
    transition: all 0.3s ease;

}

.keys-check input:checked::before {
    left: 2.1rem;
    background-color: #8c8c8c;
}

.piano-keys {
    justify-content: center;
    user-select: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    cursor: pointer;
    list-style: none;
    color: rgb(0, 0, 0);
   background-color: #000000ee;
   border-radius: 10px;
   height: 200px;
   position: relative;
   text-align: center;

}

.piano-keys .white {
    z-index: 1;
    width: 70px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid black;
}

.piano-keys .black {
    margin: 0 -22px 0 -22px; 
    z-index: 2;
    cursor: pointer;
    width: 44px;
    height: 120px;
    position: relative;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(rgb(226, 22, 22) 96%, #8c8c8c 4%);
}

.piano-keys span {
    position: absolute;
    bottom: 20px;

}

.piano-keys .white.active {
    box-shadow: inset -5px 5px 50px rgba(255, 253, 253, 0.507);
}

.piano-keys .black.active {
    box-shadow: inset -5px 5px 10px rgba(0,0,0,0.4);

}

.piano-keys .key.hide span {
    display: none;
}